<section>
	<md-list flex ng-controller="homeCtrl as ctrl" class="main" ng-cloak>
		<md-subheader class="md-primary">Current Projects</md-subheader>
		<md-input-container class="md-block" flex-gt-sm>
	        <label>Search</label>
	        <input name="search" ng-model="query" type="text">
	    </md-input-container>
		<md-list-item ng-repeat="project in ctrl.projects | filter:query" ng-click="ctrl.goToProject(project,$event)">
			<img alt="{{ project.title }}" ng-src="{{ project.img }}" class="md-avatar"/>
			<p>{{project.title}}</p>
		</md-list-item>
	</md-list>
</section>
